extends layout

block content
    include nav.pug
    include footer.pug
    section#content
        h2 Dashboard
        p Welcome to #{user.firstName} #{user.lastName}

        form(action='/users/post' method='post')
            textarea(type="text" name="text" placeholder="What is happening?")
            input(type="text" name="tag" placeholder="Tags")
            input(type="file" name="picture" multiple)
            input(type='submit' value='Yabba')