doctype html
html
    head
        title= 'My first site'
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="icon", type="image/svg+xml", href="/favicon.svg")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/darkTheme.css')
    
        script(type='module' src='/javascripts/darkTheme.js')
        script(type='module' src='/javascripts/main.js')
        script(src='https://kit.fontawesome.com/9f34627289.js')

    body
        header
            div.theme-switch-wrapper
                label.theme-switch
                    input#checkbox(type="checkbox")
                    div.slider.round
            div.h1
                h1 YabbaYabbaYabba
            if user
                div.name
                    //img.avatar(src='images/avatar.jpeg' alt='Avatar') 
                    p #{user.firstName} #{user.lastName}  

        main
            article
                nav
                    ul
                        li
                            a(href="/") Home
                        //logged in
                        if user
                            li
                                a(href="/dashboard") Dashboard
                            li
                                a(href="user") Profile
                            li
                                a(href="/users/logout") Logout
                        // not logged in
                        if !user
                            li
                                a(href="/users/about") About
                            li
                                a(href="/users/login") Login
            block content
            article
                div.add
        footer
            p &copy; 2020
