doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="icon", type="image/svg+xml", href="/favicon.svg")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/darkTheme.css')
    
        script(type='module' src='/javascripts/darkTheme.js')
        script(type='module' src='/javascripts/main.js')
        script(type='module' src='/javascripts/commercials.js') 
        script(type='module' src='/javascripts/characterCounter.js') 
        script(src='https://kit.fontawesome.com/9f34627289.js')

    body
        block content