extends layout

block content
    section
        h2 Login
        if errors != undefined && errors.length != 0
            each error in errors
                div(role='alert' id='a1') #{error.msg}
        if success_msg != ''
            div(role='alert' id='a2') #{success_msg}
        if error_msg != ''
            div(role='alert' id='a3') #{error_msg}
        if error != ''
            div(role='alert' id='a4') #{error}
        
        form(action='/users/login' method='post').shadow
            table
                tr
                    td Email:
                    td
                        input(type='text' name='email' required)
                tr
                    td Password:
                    td
                        input(type='password' name='password' required)
                tr
                    td
                    td
                        input(type='submit' value='Go')
        p No account?&nbsp;
            a(href='/users/register') Register