extends layout

block content
    div#header
        div
        div
            h2= title
        div
            a(href="/users/register") Register
            a(href="/users/login") Login
    section#logReg
        h1 Velkommen til YabbaYabbaYabba
        p Stedet hvor du skriver beskeder og kommunikerer med andre brugere
        form(action='/users/register' method='post').shadow
            label Username
            input(type='text' name='username' required)
            label Firstname
            input(type='text' name='firstName' required)
            label Lastname
            input(type='text' name='lastName' required)
            label Email
            input(type='email' name='email' required)
            label Password
            input(type='password' name='password' required)
            label Repeat password
            input(type='password' name='password2' required)
            input(type='submit' value='Registrate')
        p Have an account?&nbsp;
            a(href='/users/login') Login
    include footer.pug