extends layout

block content
    div#header
        div
        div
            h2= title
        div
            a(href="/users/register") Register
            a(href="/users/login") Login
    section#logReg
       
        p Verify Your email
        
        form(action='/users/verifyemail' method='post')
            label(for='secretToken') Secret Token
            input(type='text' name='secretToken' placeholder="secretToken here") 
            input(type='submit' value='Verify email')
    include footer.pug