extends layout

block content
    div#header
        div
        div
            h2= title
        div
            a(href="/users/register") Register
            a(href="/users/login") Login
    section#logReg
        h1 Welcome to YabbaYabbaYabba
        p The place where you can write to people
        p Verify Your email
        
        form(action='users/verifyemail' method='post')
            label(for='secretToken') Secret Token
            input(type='text' name='secretToken' placeholder="secretToken") 
        p No account?&nbsp;
            a(href='/users/register') Verify
    include footer.pug